.masthead {
  @apply bg-gray-700;

  .container {
    @apply
      max-w-7xl mx-auto px-6 py-12
      text-white text-center;
  }

  h1 {
    @apply text-5xl font-medium;
    text-shadow: 0 3px 3px #0000004d;
  }

  h2 {
    @apply text-2xl text-gray-100 font-light mt-4;
  }
}

.content-container.prose {
  @apply max-w-7xl mx-auto p-8;

  pre code::after,
  pre code::before {
    display: none;
  }

  .multicol {
    &.row {
      @apply flex flex-col md:flex-row md:gap-8;
    }

    &.col {
      @apply flex-1;
    }
  }

  .markdown-warning-box {
    @apply
      border border-transparent rounded-md
      bg-gray-200
      my-3 px-3 py-2;

    p {
      @apply m-0;

      strong {
        color: inherit;
      }
    }

    &.success {
      @apply bg-green-200 text-green-900;
    }

    &.info {
      @apply bg-blue-200 text-blue-900;
    }

    &.warning {
      @apply bg-yellow-200 text-yellow-900;
    }

    &.critical {
      @apply bg-red-200 text-red-900;
    }
  }

  .headline-divider {
    @apply
      flex flex-wrap flex-col items-baseline
      mt-2 pt-4 pb-2
      border-b border-gray-200
      md:flex-row;

    h2 {
      @apply m-0 text-2xl text-gray-900 font-medium;
    }

    p {
      @apply mx-0 mb-0 mt-4 text-lg text-gray-500 md:mx-3 md:mt-0;
    }
  }
}
