/**
 *= require "bootstrap"
 *= require_tree "."
 */

main {
  margin-top: 50px;
}

nav {
  &.bg-dark {
    background-color: #222222 !important;
  }

  .navbar-brand {
    font-size: 180%;
    padding: 0;
    text-transform: lowercase;

    .section {
      color: #999999;
    }
  }
}

footer {
  font-size: 1rem;

  h5 {
    font-size: 1rem;
  }

  #footer_nav {
    margin: 1rem 0 2.5rem;
  }

  nav {
    margin-top: 1rem;

    a.nav-link {
      padding: 0.2rem 1rem;
    }
  }
}

.headline-container {
  small {
    white-space: nowrap;
  }
}

.feature-icon {
  font-size: 500%;
  text-align: center;
}

.no-guided-only-content .guided-only-content {
  display: none;
}

.guide-button {
  white-space: normal;
}

.blog-list {
  h2 {
    font-size: 1.5em;
  }
}

.blog-list-teaser {
  .blog_more_link {
    margin-top: 1rem;
    text-align: center;
  }

  .blog-teaser-item {
    margin-bottom: 0.2rem;
  
    .date {
      width: 100px;
    }
  }
}
