/**
 *= require "bootstrap"
 *= require_tree "."
 */

main {
  margin-top: 50px;
}

nav {
  &.bg-dark {
    background-color: #222222 !important;
  }

  .navbar-brand {
    font-size: 180%;
    padding: 0;
    text-transform: lowercase;

    .section {
      color: #999999;
    }
  }
}

footer {
  font-size: 1rem;

  h5 {
    font-size: 1rem;
  }

  #footer_nav {
    margin: 1rem 0 2.5rem;
  }

  nav {
    margin-top: 1rem;

    a.nav-link {
      padding: 0.2rem 1rem;
    }
  }
}
