.feature-icon {
  text-align: center;
  font-size: 500%;
}

.no-guided-only-content .guided-only-content {
  display: none;
}

.guide-button {
  white-space: normal;
}

blockquote {
  border-left: 5px solid gainsboro;
  padding-left: 1.5rem;
}
