@import "_mixins";

#masthead {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ddd;
  padding: 30px 0 35px;
  @include radial-gradient-background(50% 50%, circle cover, #fcfcfc, #e6e6e6 100%);

  h1, h2 {
    text-align: center;
  }

  h1 {
    color: #111;
    font-size: 54px;
    line-height: 1.3;
    margin-bottom: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }

  h2 {
    color: #347caa;
    font-size: 1.7em;
    font-weight: normal;
    margin-top: 5px;
  }
}

footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
  margin-top: 70px;
  padding: 1rem 0;

  .content-license {
    font-size: 200%;
    text-align: center;

    a {
      color: #999;

      &:hover, &:focus {
        color: #666;
        text-decoration: none;
      }
    }
  }
}
