.feature-icon {
  text-align: center;
  font-size: 500%;
}

.no-guided-only-content .guided-only-content {
  display: none;
}

.guide-button {
  white-space: normal;
}

.blog_more_link {
  text-align: center;
}

.blog-list {
  h2 {
    font-size: 1.5em;
  }
}
