#install_selector {
  margin-top: 3rem;

  i {
    font-size: 250%;
  }

  .row {
    margin: 2rem 0;
  }

  .list-group-item-primary.list-group-item-action {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;

    &:hover, &:focus {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  }

  #guides {
    div {
      margin-top: 4rem;
    }

    button {
      font-size: 180%;
    }

    p {
      margin-top: 1rem;
    }
  }
}
