<div class="pb-2 mt-5 mb-4 border-bottom headline-container">
  <h2 class="d-flex flex-column flex-md-row">
    <a class="flex-grow-1" href="<%= blog_url(item) %>"><%= item[:frontmatter][:title] %></a>
    <small class="text-muted"><%= format_date(item[:frontmatter][:date]) %></small>
  </h2>
</div>
