<div class="pb-2 mt-5 mb-4 border-bottom">
  <h2>
    <a href="<%= blog_url(article) %>"><%= article[:frontmatter][:title] %></a>
    <small class="text-muted"><%= format_date(article[:frontmatter][:date]) %></small>
  </h2>
</div>
