<% if @section_config[:community_editable] %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="<%= page_edit_url(path) %>" class="btn btn-secondary" data-toggle="tooltip" title="<%= I18n.t("community_edit.edit") %>">
      <i class="fas fa-pen-square"></i>
    </a>
    <% if @section_config[:translateable] %>
      <a href="<%= translation_docs_url %>" class="btn btn-secondary" data-toggle="tooltip" title="<%= I18n.t("community_edit.translate") %>">
        <i class="fas fa-language"></i>
      </a>
    <% end %>
  </div>
<% end %>
