<div class="pb-2 mt-5 mb-4 border-bottom text-center" <% if defined?(id) %>id="<%= id %>"<% end %>>
  <h1>
    <%= headline %>
    <% if defined?(subline) %><small class="text-muted"><%= subline %></small><% end %>
  </h1>
</div>
