<% if @section_config[:translateable] %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="lang-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= I18n.t("select_language") %>
    </button>
    <div class="dropdown-menu" aria-labelledby="lang-select">
      <% data("languages")[:available].each do |code, label| %>
        <a class="dropdown-item" href="<%= url_to(@section, "force_locale/#{code}")%>">
          <%= label %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
