<div class="mt-4 mb-4">
  <% items.each do |item| %>
    <a href="<%= guide_url(item) %>" class="btn btn-light btn-block text-left">
      <%= item[:frontmatter][:title] %>
    </a>
  <% end %>
</div>
