<% if data("navigation")[@section] && data("navigation")[@section][:footer] %>
  <section id="footer_nav">
    <h5><%= I18n.t("navigation.useful_links") %></h5>
    <nav class="row">
      <% data("navigation")[@section][:footer].each do |nav_item| %>
        <a class="col-md-3 nav-link" href="<%= url_for_nav_item(nav_item[:target]) %>">
          <%= link_title(nav_item) %>
        </a>
      <% end %>
    </nav>
  </section>
<% end %>
