<div class="navbar-collapse collapse order-3 collapse-nav">
  <ul class="navbar-nav ml-auto">
    <% if data("navigation")[@section] && data("navigation")[@section][:header_crosslinks] %>
      <% data("navigation")[@section][:header_crosslinks].each do |nav_item| %>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for_nav_item(nav_item[:target]) %>">
            <%= link_title(nav_item) %>
          </a>
        </li>
      <% end %>
    <% end %>

    <% if data("navigation")[@section] && data("navigation")[@section][:header_buttons] %>
      <% data("navigation")[@section][:header_buttons].each do |nav_item| %>
        <li class="nav-item">
          <a class="btn btn-success ml-md-2" href="<%= url_for_nav_item(nav_item[:target]) %>">
            <%= link_title(nav_item) %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
